{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Korisnicke oblast interesovanja</title>

	<link rel="stylesheet" href="static/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
		
    <link rel="stylesheet" href="static/assets/style.css">
    <link rel="stylesheet" href="static/assets/main.css">
    <link rel="stylesheet" href="static/assets/index.css">


</head>
<body>
	<div class="wrapper" style="background-image: url('static/img/auction.jpg');">
	{% block sadrzaj %}
	<div class="inner">
		<form method="POST">
			{% csrf_token %}
			<table>
				{{form.as_table}}
			</table>
			<button type="submit">Sačuvaj</button>
		</form>
	</div>
	{% endblock %}
	</div>
</body>
</html>